
.app {
  display:flex;
  justify-content: center;
}

.row {
  display:grid;
  text-align:center;
}

h6 {
  text-decoration:underline;
}

.cadre {
  background: rgba(87, 230, 122, 0.336);
  border:solid 2px black;
  opacity: 1;
  padding: 7px;
}

.position {
  z-index: 5;
  position: absolute;
  top:0;
  right: 0;
  margin-left:50px;
}

.heure {
height: 10px;
}

.fiche {
  z-index: 5;
  position: absolute;
  bottom: 0;

  display:grid;
  justify-content: center;

  height: 30vh;
  padding: 1vmax;
  margin: 3vw;
}
.tassage {
  margin-top: -30px;
  margin-bottom: -25px;
}

.box {
  display: flex;
  width: 100%;
}

.boxLeft {
  flex-direction: column;
  width: 50%;
  padding: 7px;
  text-align: right;
}

.boxRight {
  flex-direction: column;
  text-align: left;
  width: 50%;
  padding: 7px;
}

.mapDisplay {
  z-index: 1;
  opacity: 0.7;
  position: absolute;
}

/* C LA */

.sigContain {
  background:transparent; 
  overflow:hidden; 
  width:100%; height:100vh; 
}
.sigContain, .signal {
  overflow: hidden;
  position: absolute;
  top: 0;  bottom: 0;  left: 0;  right: 0;
}
.signal {
    border:0.5px solid #00db00;
    border-radius:300px;
    top:50%; width:20px; height:20px;
    left:calc(50%);
    margin:0;
    opacity:0;
    position:absolute;
}
.s1 {animation: pulsate 9s ease-out 0s  infinite;  }
.s2 {animation: pulsate 9s ease-out 2s  infinite;}
.s3 {animation: pulsate 9s ease-out 4s  infinite;}
.s4 {animation: pulsate 9s ease-out 6s  infinite;}
 
@keyframes pulsate {
    0% { transform:scale(0.1); opacity: 0.1;}
    20% { opacity:0.2;}
    50% { opacity:0.4;}
    80% { opacity:0.7;}
    100% { transform:scale(50); opacity:0;}
}